<h1>Invoice Details</h1>
<br>
<table class="table table-hover" style="width: 60%">
  <tr>
    <th>InvoiceNo</th>
    <th>Product</th>
    <th>User</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td><%= @bill.id %></td>
    <td><%= @bill.product_details.map { |p| p.name.capitalize }.join %></td>
    <td><%= @user.capitalize %></td>
    <td><%= @bill.total_price %></td>
    <td><%= @bill.product_details.map { |p| p.quantity }.join %></td>
  </tr>
</table>

<%= link_to 'Back', action: 'index' %>
