<div class="form-group">
  <div class="control-label col-sm-2">Name :</div>
  <div class="col-sm-10"><%= f.text_field(:name) %></div>
</div>
<div class="form-group">
  <div class="control-label col-sm-2">Price :</div>
   <div class="col-sm-10"><%= f.number_field(:price) %></div>
</div>
<div class="form-group">
  <div class="control-label col-sm-2">Capacity :</div>
  <div class="col-sm-10"><%= f.number_field(:capacity) %></div>
</div>
<div class="form-group">
  <div class="control-label col-sm-2">Available :</div>
  <div class="col-sm-10"> <%= f.radio_button :available, 'Yes', :checked => true %>
                          <%= label :available_true, 'Yes' %>
                          <%= f.radio_button :available, 'No' %>
                          <%= label :available_false, 'No' %></div>
</div>
<div class="form-group">
  <div class="control-label col-sm-2">Factory :</div>
  <div class="col-sm-10"><%= f.select(:factory_id, Factory.all.map{|f| [f.name, f.id]}) %></div>
</div>
