<td><%= products.name %></td>
<td><%= products.price %></td>
<td><%= products.capacity %></td>
<td><%= products.available %></td>
<td><a class='show' data-id='<%= products._id %>'>Show</a></td>
<td><a class="edit" data-id='<%= products._id %>'>Edit</a></td>
<td><a class="remove" data-id='<%= products._id %>'>Remove</a></td>
