<h1>Listing Products</h1>
<table class="table table-hover" style="width: 60%">
  <table class="table">
      <tr>
        <td><%= products.name %></td>
        <td><%= products.price %></td>
        <td><%= products.capacity %></td>
        <td><%= products.available %></td>
        <td><a class='show' data-id='<%= products._id %>'>Show</div></td>
        <td><a class="edit" data-id='<%= products._id %>'>Edit</div></td>
        <td><a class="remove" data-id='<%= products._id %>'>Remove</div></td>
      </tr>
  </table>
</div>
