<td><%= name %></td>
<td><%= price %></td>
<td><%= capacity %></td>
<td><%= available %></td>
<td><a class='show' data-id='<%= _id %>'>Show</a></td>
<td><a class="edit" data-id='<%= _id %>'>Edit</a></td>
<td><a class="remove" data-id='<%= _id %>'>Remove</a></td>
